body {
	font-size: 18px;
	font-family: Helvetica;
}

/*Header Content*/

header {
	display: flex;
	justify-content: center;
	background-color: black;
	font-family: Helvetica;
	width: 100%;
}

.container {
	width: 960px;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 1.5rem;
	margin: 1rem 1rem 1rem 0.5rem;
}

.logo span {
	margin: 0.66rem 0;
	text-transform: uppercase;
	color: white;
}

/*Splash Section*/

.jumbotron {
	background-image: url(images/moto.jpeg);
	height: 30rem;
	width: 100%; 
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
}

.new-products {
	display: block;
	justify-content: center;
	align-items: center;
	background-color: black;
	width: 23rem;
	margin-top: 9rem;
}

.new-products span, h2 {
	color: white;
	font-family: Helvetica;
	font-weight: bold;
	margin-left: 3rem;
	text-transform: uppercase;
}

.new-products span {
	margin-top: 2rem;
	font-size: 1rem;
}

.new-products h2 {
	font-size: 2rem;
	margin-top: 0.25rem;
}

/* Navigation */

.nav {
	background-color: firebrick;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu span {
	color: white;
	align-content: space-between;
	margin: 0.75rem auto;
}
	